/*---------------------------
  Formbuilder
---------------------------*/

.form_builder_fieldset {
	width: 100%;

	display: block;
	margin: 40px 0;
	padding: 0;
}

.form_builder_label,
.form_builder_legend {
	display: block;
	font-family: OpenSansSemibold, sans-serif;
	margin-bottom: 10px;
}

.form_builder_row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -5px;
}

.form_builder_item {
	width: 100%;

	position: relative;

	margin-bottom: 10px;
}

.form_builder_row .form_builder_item {
	padding: 0 5px;
}

@media screen and (min-width: 500px) {

	.form_builder_row_split .form_builder_item {
		width: 50%;
	}
}

.form_builder_sublabel {
	width: 100%;

	display: block;
	font-family: OpenSansSemibold, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

.form_builder_sublabel_centered {
	text-align: center;
}


/*---------------------------
  Text/Textarea Input
---------------------------*/

.form_builder_text,
.form_builder_textarea {
	width: 100%;

	background: #FFF;
	border: 1px solid rgba(0, 0, 0, .15);
	display: block;
	font-family: OpenSansRegular, sans-serif;
	font-size: 14px;
	padding: 15px 20px;
}

.form_builder_textarea {
	min-height: 140px;
}

.form_builder_fieldset.error input,
.form_builder_fieldset.error textarea {
	border-color: #CC0000;
}


/*---------------------------
  Checkboxes/Radios
---------------------------*/

.form_builder_checkbox,
.form_builder_radio {
	position: absolute;

	opacity: 0;
	visibility: hidden;
}

.form_builder_checkbox_indicator,
.form_builder_radio_indicator {
	height: 20px;
	width: 20px;

	position: absolute;
	top: 50%;
	left: 0;

	background: #fff;
	border: 1px solid rgba(0, 0, 0, .15);
	display: inline-block;
	pointer-events: none;
	vertical-align: middle;
	transform: translate(0, -50%);
}

.form_builder_checkbox:checked + *,
.form_builder_radio:checked + * {
	background: #000;
}

.form_builder_radio_indicator {
	border-radius: 50%;
}

.form_builder_checkbox_label,
.form_builder_radio_label {
	cursor: pointer;
	display: inline-block;
	font-family: OpenSansRegular, sans-serif;
	font-size: 14px;
	padding-left: 30px;
	vertical-align: middle;
}


/*---------------------------
  Select
---------------------------*/

.form_builder_select {
	width: 100%;

	appearance: none;
	-webkit-appearance: none;
	background-color: #fff;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAASCAYAAABFGc6jAAAABGdBTUEAALGPC/xhBQAAANNJREFUOBG1kj0SAUEYRKeUQCKSSaViB3AAB3ECN3ACJ3ACB3AAsZRQJpIIlOI9ZQPrb3Zn9lW1mv2mv+7dKiGEsES3hmVH6KJdg0Vm2/FgxO8F5f4yM81+YcZT7iIz32gxWaNcZWaZ+ZE+0yNKLTPDrJ9MuE0tMiOKBa66Ze5G08G5RVXL3HG3EkPcZxRbptedWkzZii3Sm8SK7X9lepLpkXBA38q805OFMSlXVC5z5l1W5qSVi5xlp03iBhVlnp01woDU01Oeo6n6RnuSi7+x52juhEXqhxjVbWMAAAAASUVORK5CYII=');
	background-position: calc(100% - 20px) 50%;
	background-repeat: no-repeat;
	background-size: 12px 8px;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 0;
	cursor: pointer;
	display: block;
	font-family: OpenSansRegular, sans-serif;
	font-size: 14px;
	padding: 15px 20px;
}


/* Phone Styles */

.form_builder_phone_country:before {
	color: #999;
	content: "+";
	float: left;
	font-family: OpenSansSemibold, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 40px;
	margin: 0 5px 0 0;
}


/*---------------------------
  File Upload
---------------------------*/

.form_builder_upload {
	border: 1px solid rgba(0, 0, 0, .15);
	cursor: pointer;
	font-family: OpenSansRegular, sans-serif;
	font-size: 14px;
	padding: 10px;
}


/*---------------------------
  Name
---------------------------*/

@media screen and (min-width: 400px) {

	.form_builder_item_firstname {
		width: 50%;
	}
}

@media screen and (min-width: 600px) {

	.form_builder_item_firstname {
		width: 180px;
	}
}

@media screen and (min-width: 400px) {

	.form_builder_item_lastname {
		width: 50%;
	}
}

@media screen and (min-width: 600px) {

	.form_builder_item_lastname {
		width: 240px;
	}
}


/*---------------------------
  Date
---------------------------*/

.form_builder_fieldset_date .form_builder_text {
	text-align: center;
}

@media screen and (min-width: 400px) {

	.form_builder_item_date_2 {
		width: 25%;
	}
}

@media screen and (min-width: 600px) {

	.form_builder_item_date_2 {
		width: 100px;
	}
}

@media screen and (min-width: 400px) {

	.form_builder_item_date_4 {
		width: 50%;
	}
}

@media screen and (min-width: 600px) {

	.form_builder_item_date_4 {
		width: 170px;
	}
}


/*---------------------------
  Phone
---------------------------*/

.form_builder_fieldset_phone .form_builder_text {
	text-align: center;
}

@media screen and (min-width: 400px) {

	.form_builder_item_phone_3,
	.form_builder_item_phone_country,
	.form_builder_item_phone_area {
		width: 25%;
	}
}

@media screen and (min-width: 600px) {

	.form_builder_item_phone_3,
	.form_builder_item_phone_country,
	.form_builder_item_phone_area {
		width: 100px;
	}
}

@media screen and (min-width: 400px) {

	.form_builder_item_phone_4,
	.form_builder_item_phone_number {
		width: 50%;
	}
}

@media screen and (min-width: 600px) {

	.form_builder_item_phone_4,
	.form_builder_item_phone_number {
		width: 170px;
	}
}


/*---------------------------
  Credit Card
---------------------------*/

.form_builder_item_card_date {
	display: flex;
	flex-wrap: wrap;
}

@media screen and (min-width: 740px) {

	.form_builder_item_card_date {
		width: 50%;
	}
}

.form_builder_item_card_date .form_builder_text {
	width: calc(50% - 5px);
}

.form_builder_card_month {
	margin-right: 5px;
}

@media screen and (min-width: 740px) {

	.form_builder_item_card_date .form_builder_card_month {
		width: calc(40% - 5px);
	}
}

.form_builder_card_year {
	margin-left: 5px;
}

@media screen and (min-width: 740px) {

	.form_builder_item_card_date .form_builder_card_year {
		width: calc(60% - 5px);
	}
}

@media screen and (min-width: 740px) {

	.form_builder_item_card_code {
		width: 50%;
	}
}


/*---------------------------
  Submit
---------------------------*/

.form_builder_submit {
	background: #000;
	border: 0;
	color: #FFF;
	cursor: pointer;
	display: block;
	font-family: OpenSansSemibold, sans-serif;
	font-size: 14px;
	padding: 15px 20px;
}

.form_builder_submit:hover {
	background: #59A8E9;
}


/*---------------------------
  Errors
---------------------------*/

.form_builder_required_message {
	font-size: 14px;
}

.form_builder_required_star {
	color: #CC0000;
	font-size: 20px;
}

.form_builder_errors {
	background: #CC0000;
	padding: 10px;
	margin: 40px 0;
}

.form_builder_error {
	color: #FFF;
	font-size: 12px;
	margin: 0;
}

.form_builder_alert {
	margin: 0;
	font-size: 14px;
}

.form_builder_file_size_error {
	color: #CC0000;
}


/*---------------------------
  Section
---------------------------*/

.form_builder .error {
	border-color: #AD6672 !important;
}

.form_builder_section_header {
	margin: 0 0 15px 0;
	padding: 0 0 15px 0;
}

.form_builder_section_header_description {
	margin: 0;
}

.form_builder_total_section {
	border: none;
	padding: 0;
}


/*---------------------------
  Captcha
---------------------------*/

.form_builder_captcha_error {
	background: #CC0000;
	border-radius: 3px;
	color: #FFF;
	margin: 0 0 10px 0;
	padding: 10px;
}